/* HTML: <div class="loader"></div> */
.loader {
    width: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 99999px;
    animation: l5 1s infinite linear alternate;
  }
  @keyframes l5 {
      0%  {box-shadow: 20px 0 #f7f5f5, -20px 0 rgba(210, 209, 209, 0.133);background: #f7f5f5 }
      33% {box-shadow: 20px 0 #f7f5f5, -20px 0 rgba(210, 209, 209, 0.133);background: rgba(210, 209, 209, 0.133)}
      66% {box-shadow: 20px 0 rgba(210, 209, 209, 0.133),-20px 0 #f7f5f5; background: rgba(210, 209, 209, 0.133)}
      100%{box-shadow: 20px 0 rgba(210, 209, 209, 0.133),-20px 0 #f7f5f5; background: #f7f5f5 }
  }